*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #FBFBFB;
}
.container{
  width: 90%;
  min-height: 100vh;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1.5em 1fr 1.5em;
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */

  column-gap: 20px;
  row-gap: 20px;
  /* grid-gap: 20px; */
  grid-template-rows: 50px 700px 50px;
  grid-auto-rows: 300px;
  grid-template-areas:
  "header header header"
  ".      main   ......"
  "footer footer footer";
}
@media only screen and (min-width: 860px) {
  .container {
    grid-template-columns: 5em minmax(800px, 1300px) minmax(400px, 650px) 5em; 
    grid-template-areas:
      "header header header header"
      ".      main   side   ......"
      "footer footer footer footer";
  }
  @media only screen and (min-width: 2400px) {
    .container {
      grid-template-columns: 5em minmax(800px, 1300px) minmax(800px, 1300px) minmax(600px, 1300px) 5em;
      grid-template-areas: 
      "header header header header"
      ".      main   main   side   "
      "footer footer footer footer";
    }
  }
}
.item {
  background: #58d5f6;
  color: white;
  padding: 10px;
}
.item:nth-child(even) {
  background: #236fc8;
}
.header {
  grid-area: header;
}
.content {
  grid-area: main;
}
.sidebar {
  grid-area: side;
}
.footer {
  grid-area: footer;
}
#nestedGrid {
  display: grid;
  grid-template-rows: 50% 50%;
  border:3px solid white;
}
.photoBox {
  width: 1fr;
  height: 150px;
  border: 1px solid red;
  background: #F9FA4D
}


