*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #FBFBFB;
}
.container{
  width: 85%;
  min-height: 100vh;
  margin:0 auto;
  display: grid;
  grid-template-columns: 6em minmax(1000px, 1300px) minmax(800px, 1200px) 1em;
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */

  column-gap: 3px;
  row-gap: 3px;
  /* grid-gap: 20px; */
  grid-template-rows: 50px 700px 50px;
  /* grid-auto-rows: 300px; */
  grid-template-areas:
      "header header header header"
      "nav    main   side   ......"
      "footer footer footer footer";
}
@media only screen and (min-width: 860px) {
  .container {
    grid-template-columns: 6em minmax(800px, 1300px) minmax(400px, 650px) 1em; 
    grid-template-areas:
      "header header header header"
      "nav    main   side   ......"
      "footer footer footer footer";
  }
  @media only screen and (min-width: 2400px) {
    .container {
      
      grid-template-columns: 6em minmax(800px, 1300px) minmax(800px, 1300px) minmax(600px, 1300px) 1em;
      grid-template-areas: 
      "header header header header header"
      "nav    main   main   side   side"
      "footer footer footer footer footer";
    }
  }
}
.item {
  background: #58d5f6;
  color: white;
  padding: 10px;
}
.item:nth-child(even) {
  background: solid red;
}
.header {
  grid-area: header;
}
.content {
  grid-area: main;
}
.sidebar {
  grid-area: side;
}
.footer {
  grid-area: footer;
}
.nav {
  grid-area: nav;
}
#nestedGrid {
  display: grid;
  grid-template-rows: 50% 50%;
  border:3px solid white;
}
.photoBox {
  width: 1fr;
  height: 300px;
  border: 1px solid red;
  background: #F9FA4D
}
#navGrid {
  border: 2px solid #ffcc5c;
  display: flex;
  flex-direction: column;
 
}
/* #navGrid > div {
  flex: 1;
} */
/* .home {
  color: solid black;
} */


