*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #FBFBFB;
}
.container{
  width: 85%;
  min-height: 100vh;
  margin:0 auto;
  display: grid;
  grid-template-columns: 6em minmax(600px, 800px);
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */

  column-gap: 1px;
  row-gap: 1px;
  /* grid-gap: 20px; */
  grid-template-rows: 50px 700px 50px;
  /* grid-auto-rows: 300px; */
  grid-template-areas:
      "header header"
      "nav    main "
      "footer footer";
}
@media only screen and (min-width: 400px) {
  .container {
    grid-template-columns: 6em minmax(600px, 800px) minmax(801px, 1200px) 2em; 
    grid-template-areas:
      "header header header header"
      "nav    main   main   side"
      "footer footer footer footer";
  }
@media only screen and (min-width: 2400px) {
    .container {
      
      grid-template-columns: 6em minmax(800px, 1300px) minmax(800px, 1300px) minmax(600px, 1300px) 1em;
      grid-template-areas: 
      "header header header header header"
      "nav    main   main   main   side"
      "footer footer footer footer footer";
    }
  }
}
.item {
  background: #3282b8;
  color: #ffe8df;
  padding: 10px;
  justify-content: left;
}
.pageContent {
  display: grid;
  height: 100%;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  /* border: 3px solid red; */
}
#contentOne {
  background-image: url('images/Sketch002.jpg');
  background-size: cover;
}
#contentTwo {
  background-image: url('images/building02.jpg');
  background-size: cover;
}
#contentThree {
  background-image: url('images/building01.jpg');
  background-size: cover;
}
#contentFour {
  background-image: url('images/building04.jpg');
  background-size: cover;
}
#contentFive {
  background-image: url('images/bart01.jpg');
  background-size: cover;
}
#contentSix {
  background-image: url('images/above01.jpg');
  background-size: cover;
}
#contentSeven {
  background-image: url('images/terminal01.jpg');
  background-size: cover;
}
#contentEight {
  background-image: url('images/walking01.jpg');
  background-size: cover;
}

.header {
  grid-area: header;

}
.pageTitle {
  display: flex;
  justify-content: left;
}

.content {
  grid-area: main;
  height: 100%;
}
.sidebar {
  grid-area: side;
}
.footer {
  grid-area: footer;
}
.nav {
  grid-area: nav;
}


